/* BlogPostList.css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: #fff;
}

.blog-post-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.blog-post-item {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    text-align: center;
}

.blog-post-link {
    text-decoration: none;
    color: inherit; /* Inherit color from parent */
    display: block;
}

.blog-post-title {
    font-size: 1.5em;
    margin: 0 0 10px;
}

.blog-post-img {
    max-width: 100%;
    height: auto;
    margin: 0 auto 10px;
    border-radius: 4px;
}

.blog-post-excerpt {
    margin: 0;
}

.loading, .no-more-posts {
    text-align: center;
    padding: 20px;
}
